{% extends "pools/template.html" %}
{% load static %}
{% block body %}
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600;900&display=swap"/>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spline Sans Mono:wght@400;600;700&display=swap"/>
 <link rel="stylesheet" href="{% static 'pools/css/about.css' %}">

<body>
    <div class="aboutme">
      <div class="aboutus-parent">
        <div class="aboutus">SKINNYBOY:</div>
        <div class="div">Ваш помощник в достижении персональных целей;</div>
        <div class="div1">Низкие цены на спортивное питание;</div>
        <div class="div2">Высокий сервис обслуживания клиентов;</div>
        <div class="div3">
          Онлайн магазин спортивного питания, охватывающий всю географию Россию
          по доставке.
        </div>
        <div class="div4">
          <span class="txt">
            <span
              >Мы предлагаем широкий выбор продуктов спортивного питания,
              прошедших государственную регистрацию и включающих такие категории
              как:</span
            >
            <span class="span"> протеин</span>
            <span>,</span>
            <span class="span"> гейнеры</span>
            <span>, </span>
            <span class="span">бцаа</span>
            <span>, </span>
            <span class="span">аминокислоты</span>
            <span>, </span>
            <span class="span">креатин</span>
            <span>, </span>
            <span class="span">жиросжигатели</span>
            <span>, </span>
            <span class="span">хондропротекторы</span>
            <span>,</span>
            <span class="span7"> витамины и минералы</span>
            <span>,</span>
            <span class="span"> жирные кислоты</span>
            <span> и др. от ведущих мировых производителей.</span>
          </span>
        </div>
        <div class="div5">
          <span class="txt">
            <span
              >Все продукты в нашем интернет-магазине, прошли полноценную
              экспертизу международных и отечественных антидопинговых центров и
            </span>
            <span class="span">не содержат</span>
            <span>
              в своем составе какие-либо запрещенные компоненты, таких,
              например, как тестостерон, гормон роста или другие анаболические
              стероиды.</span
            >
          </span>
        </div>
        <img class="sert-1-icon" src="{%static 'pools/img/sert.png' %}"/>
          <img class="gost-photoroom-1-icon" src="{%static 'pools/img/gost12.png' %}"/>
          <img class="iso-1-icon" src="{%static 'pools/img/iso.jpg' %}"/>




      </div>
      <div class="div6">
        <span class="txt">
          <span>Магазин </span>
          <span class="span10">SKINNYBOY</span>
          <span>
            – специализированный магазин спортивного питания, существующий на
            рынке с
          </span>
          <span class="span11">2012</span>
          <span> года. С тех пор мы исполнили более </span>
          <span class="span12">300</span>
          <span
            >(!) тысяч заказов, и эта цифра с каждым днем продолжает расти. Нам
            доверяют и эта самая
          </span>
          <span class="span">лучшая похвала </span>
          <span> наших клиентов.</span>
        </span>
      </div>
    </div>
  </body>


{% endblock %}