{% extends "pools/template.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spline Sans Mono:wght@400;600;700&display=swap"/>
<link rel="stylesheet" href="{% static 'pools/css/index.css' %}">
<body>
    <div class="wireframe-1">
      <div class="boy-container">
        <span>КОМАНДА </span>
        <span class="boy">SKINNYBOY</span>
        <span> ПРИВЕТСТВУЕТ ВАС!</span>
      </div>
      <div class="div">
        <span>Хотите быть таким же, как те парни с </span>
        <span class="span">пляжа</span>
        <span>??? </span>
      </div>
      <div class="div1">
        <span>Хотите, чтобы </span>
        <span class="boy">девочки</span>
        <span> мечтали о вас ?? А может быть и не только девочки...</span>
      </div>
      <div class="div2">
        <span>Хотите быть</span>
        <span class="boy"> настоящим накаченным гигачадом??</span>
      </div>
      <div class="div3">
        <span>Если это все про вас, </span>
        <span class="boy">ТО МЫ ЗНАЕМ КАК ВАМ ПОМОЧЬ!</span>
      </div>
      <div class="div4">
        <span>Регулярные и долгие тренировки - это , конечно, хорошо.. </span>
        <span class="span4">НО КАК НАСЧЁТ</span>
        <span> того , чтобы ускорить процесс??? </span>
      </div>
      <div class="div5">
        <span>Звучит заманчиво??? Тогда </span>
        <span class="boy">ВЫ</span>
        <span> по адресу!!!</span>
      </div>
      <div class="div6">
        <span>Просто выберите свою цель и </span>
        <span class="boy">ВПЕРЕД</span>
        <span> за покупками!!!</span>
      </div>
      <div class="div7">
        <span>Ведь мы с </span>
        <span class="boy">2012</span>
        <span> года знаем, как делать людей счастливее!</span>
      </div>
      <div class="div8">
        <span>ВАША ЦЕЛЬ ПОХУДЕНИЕ</span>
        <span class="span8"
          >&gt;&gt;&gt; ПРОТЕИН + ДЕФИЦИТ КАЛЛОРИЙ + КРЕАТИН
        </span>
      </div>
      <div class="div9">
        <span>ВАША ЦЕЛЬ НАБОР МАССЫ</span>
        <span class="span8"
          >&gt;&gt;&gt; ГЕЙНЕР + ПРОТЕИН + ПРОФИЦИТ КАЛЛОРИЙ + КРЕАТИН</span
        >
      </div>
      <img class="gigachad-1-icon" alt="" src="{%static 'pools/img/gigachad.png' %}"/>

      <div class="syntrax">Syntrax</div>
      <div class="matrix-20-907-container">
        <span>Matrix 2.0, </span>
        <span class="boy">907</span>
        <span> г</span>
      </div>
      <div class="div10">2199р</div>
      <img class="protein2-1-icon" alt="" src="{%static 'pools/img/protein2.png' %}"/>

      <div class="syntrax1">Syntrax</div>
      <div class="matrix-20-907-container1">
        <span>Matrix 2.0, </span>
        <span class="boy">907</span>
        <span> г</span>
      </div>
      <div class="div11">2199р</div>
      <img class="protein2-2-icon" alt="" src="{%static 'pools/img/protein2.png' %}"/>

      <div class="div12">+</div>
      <div class="scitec-nutrition">Scitec Nutrition</div>
      <div class="creatine-300-container">
        <span>100% Creatine, </span>
        <span class="boy">300</span>
        <span> г</span>
      </div>
      <div class="div13">1999р</div>
      <img class="creatine3-1-icon" alt="" src="{%static 'pools/img/creatine3.png' %}"/>

      <div class="scitec-nutrition1">Scitec Nutrition</div>
      <div class="creatine-300-container1">
        <span>100% Creatine, </span>
        <span class="boy">300</span>
        <span> г</span>
      </div>
      <div class="div14">1999р</div>
      <img class="creatine3-2-icon" alt="" src="{%static 'pools/img/creatine3.png' %}"/>

      <div class="div15">=</div>
      <div class="div16">=</div>
      <div class="div17">̶4̶1̶9̶8̶</div>
      <div class="div18">3799</div>
      <div class="div19">+</div>
      <div class="div20">+</div>
      <div class="academy-t">ACADEMY-T</div>
      <div class="sportein-gainer-750-container">
        <span> Sportein Gainer, </span>
        <span class="boy">750</span>
        <span> г</span>
      </div>
      <img class="gainer2-1-icon" alt="" src="{%static 'pools/img/gainer2.jpg' %}"/>
      <img class="gainer2-1-icon" alt="" src="{%static 'pools/img/gainer2.jpg' %}"/>

      <div class="div21">799р</div>
      <div class="div22">5̶0̶0̶0̶</div>
      <div class="div23">4799</div>
    </div>
  </body>
{% endblock %}
