{% extends "pools/template.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="./global.css" />
<link rel="stylesheet" href="./index.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spline Sans Mono:wght@400;600;700&display=swap"/>
<link rel="stylesheet" href="{% static 'pools/css/popular.css' %}">
<body>
    <div class="desktop-2">
      <img class="topic1-1-icon" alt="" src="{%static 'pools/img/topic1.jpg' %}" />

      <div class="div">
        <p class="p">
          Как качать верхнюю часть грудных мышц – упражнения для мощной груди
        </p>
        <p class="blank-line">&nbsp;</p>
      </div>
      <div class="div1">
        <p class="p">
          <span
            >Хорошо развитая верхняя часть груди придает мужской фигуре
            атлетичность и мощь. Это всегда выглядит эффектно, независимо от
            того, вышли вы на пляж или просто надели обтягивающую
            футболку. Кстати, именно эта часть и растет быстрее всего, так как
            не требует особо сложных упражнений.
          </span>
          <span class="span">Читать далее...</span>
        </p>
      </div>
      <div class="div">
        <p class="p">
          Как качать верхнюю часть грудных мышц – упражнения для мощной груди
        </p>
        <p class="blank-line">&nbsp;</p>
      </div>
      <img class="topic2-1-icon" alt="" src="{%static 'pools/img/topic2.jpg' %}" />

      <div class="div3">
        <p class="p">
          Всё о выпадах для ног и ягодиц — правильная техника, 11 вариаций,
          примеры тренировок
        </p>
        <p class="p">&nbsp;</p>
      </div>
      <div class="div4">
        <p class="p">
          <span
            >Выпады — многосуставное упражнение, предназначенное для проработки
            нижней части тела. Используется как в силовых тренировочных
            комплексах, так и при формировании красивого рельефа ног. Упражнение
            развивает квадрицепсы и большие ягодичные. Нагрузку также получают
            бицепс бедра и икроножные. Опосредованно задействуются мышцы пресса.
          </span>
          <span class="span1">Читать далее...</span>
        </p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
      </div>
      <div class="div5">
        Убираем «ушки» на бедрах — правильное питание и упражнения против
        «галифе»
      </div>
      <img class="topic3-1-icon" alt="" src="{%static 'pools/img/topic3.jpg' %}" />

      <div class="div6">
        <p class="p">
          <span
            >Непропорциональное отложение подкожного жира на внешней стороне
            бедер – одна из главных женских проблем. Страдают от появления
            «ушек» даже стройные девушки. Такой эффект портит эстетику фигуры и
            плохо сказывается на самооценке. В статье мы разберем причины
            увеличения зоны галифе и дадим рекомендации, как убрать ушки на
            бедрах в домашних условиях.
          </span>
          <span class="span1">Читать далее...</span>
        </p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
      </div>
      <img class="topic4-1-icon" alt="" src="{%static 'pools/img/topic4.jpg' %}" />

      <div class="div7">
        Как увеличить вес в приседаниях со штангой в пауэрлифтинге и
        бодибилдинге
      </div>
      <div class="div8">
        <p class="p">
          <span
            >Приседания — базовые элементы в бодибилдинге и пауэрлифтинге —
            используются для набора мышечной массы и развития силы ног. Сегодня
            рассмотрим классическую технику приседов из разных дисциплин, их
            особенности, а также дадим рекомендации, которые позволят улучшить
            результаты в этих упражнениях.
          </span>
          <span class="span1">Читать далее...</span>
        </p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
        <p class="p">&nbsp;</p>
      </div>
      <img class="topic5-1-icon" alt="" src="{%static 'pools/img/topic5.jpg' %}" />

      <div class="div9">
        Суперсеты (суперсерии), комплексные и джамп-сеты — что это и как
        используется
      </div>
      <div class="div10">
        <span
          >Каждый бодибилдер рано или поздно достигает состояния «плато»
          (остановка роста мышц). Чтобы преодолеть застой в результатах, нужно
          «шокировать» мускулатуру, дав ей непривычную нагрузку. Для этого
          подходят нестандартные методики выполнения упражнений и, в частности,
          суперсерии и составные сеты.
        </span>
        <span class="span4">Читать далее...</span>
      </div>
    </div>
  </body>
{% endblock %}