{% extends "pools/template.html" %}
{% load static %}
{% block body %}
 <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Spline Sans Mono:wght@700&display=swap"
    />
<link rel="stylesheet" href="{% static 'pools/css/products.css' %}">
<body>
    <div class="desktop-2">
      <div class="div">Протеины</div>
      <div class="div1">Гейнеры</div>
      <div class="bcaa">BCAA</div>
      <div class="div2">Креатин</div>
      <div class="div3">Батончики</div>
      <img class="protein1-1-icon" src="{%static 'pools/img/Protein1.png' %}" />

      <div class="optimum-nutriton">Optimum nutriton</div>
      <div class="syntrax">Syntrax</div>
      <div class="div4">4399р</div>
      <div class="qnt-delicious">QNT Delicious</div>
      <div class="whey-protein-908-container">
        <span>Whey Protein, </span>
        <span class="span">908</span>
        <span> г</span>
      </div>
      <div class="div5">2499р</div>
      <div class="matrix-20-907-container">
        <span> Matrix 2.0, </span>
        <span class="span1">907</span>
        <span> г</span>
      </div>
      <div class="div6">2199р</div>
      <div class="optimum-nutriton1">Optimum nutriton</div>
      <div class="gold-standart-2500-container">
        <span>Gold standart, </span>
        <span class="span1">2500</span>
        <span> г</span>
      </div>
      <div class="div7">4100р</div>
      <div class="qnt">QNT</div>
      <div class="muscle-mass-3000-container">
        <span>Muscle Mass 3000 , </span>
        <span class="span1">4500</span>
        <span> г</span>
      </div>
      <div class="div8">5666р</div>
      <div class="trec-nutrition">Trec Nutrition</div>
      <div class="mass-xxl-3000-container">
        <span>Mass XXL, </span>
        <span class="span1">3000</span>
        <span> г</span>
      </div>
      <div class="div9">4520р</div>
      <div class="academy-t">ACADEMY-T</div>
      <div class="sportein-gainer-750-container">
        <span> Sportein Gainer, </span>
        <span class="span1">750</span>
        <span> г</span>
      </div>
      <img class="gainer2-1-icon" alt="" src="{%static 'pools/img/gainer2.jpg' %}" />

      <div class="div10">799р</div>
      <div class="mega-mass-4000">Mega Mass 4000</div>
      <div class="weider-3000-container">
        <span>Weider, </span>
        <span class="span1">3000</span>
        <span> г</span>
      </div>
      <div class="div11">6850р</div>
      <img class="protein2-1-icon" src="{%static 'pools/img/Protein2.png' %}" />

      <img class="protein3-1-icon" src="{%static 'pools/img/Protein3.jpg' %}" />

      <img class="protein4-1-icon" alt="" src="{%static 'pools/img/protein4.jpg' %}" />

      <img class="gainer1-1-icon" alt="" src="{%static 'pools/img/gainer1.jpg' %}" />

      <img class="gainer3-1-icon" alt="" src="{%static 'pools/img/gainer3.png' %}" />

      <img class="gainer4-1-icon" alt="" src="{%static 'pools/img/gainer4.jpg' %}" />>

      <div class="be-first">Be First</div>
      <div class="bcaa-211-container">
        <span>BCAA 2:1:1 , </span>
        <span class="span7">300</span>
        <span> к</span>
      </div>
      <div class="div12">1660р</div>
      <div class="trec-nutrition1">Trec Nutrition</div>
      <div class="bcaa-g-force-90-container">
        <span>BCAA G-force, </span>
        <span class="span1">90</span>
        <span> к</span>
      </div>
      <div class="div13">4520р</div>
      <div class="optimum-nutrition">Optimum Nutrition</div>
      <div class="bcaa-1000-caps-container">
        <span> BCAA 1000 Caps, </span>
        <span class="span9">200</span>
        <span> к</span>
      </div>
      <div class="div14">3499р</div>
      <div class="trec-nutrition2">Trec Nutrition</div>
      <div class="bcaa-1000-caps-container1">
        <span>BCAA 1000 Caps, </span>
        <span class="span1">500</span>
        <span> г</span>
      </div>
      <div class="div15">2999р</div>
      <img class="bcaa1-1-icon" alt="" src="{%static 'pools/img/bcaa1.png' %}" />

      <img class="bcaa2-1-icon" alt="" src="{%static 'pools/img/bcaa2.png' %}" />

      <img class="bcaa3-1-icon" alt="" src="{%static 'pools/img/bcaa3.jpg' %}" />

      <img class="bcaa4-1-icon" alt="" src="{%static 'pools/img/bcaa4.png' %}" />

      <div class="prime-craft">Prime craft</div>
      <div class="monohydrate-200-container">
        <span>Monohydrate, </span>
        <span class="span1">200</span>
        <span> г</span>
      </div>
      <div class="div16">999р</div>
      <div class="qnt1">QNT</div>
      <div class="monohydrate-800-container">
        <span>Monohydrate, </span>
        <span class="span1">800</span>
        <span> г</span>
      </div>
      <div class="div17">4549р</div>
      <div class="trec-nutrition3">Trec Nutrition</div>
      <div class="creatine-100-300-container">
        <span> Creatine 100%, </span>
        <span class="span13">300</span>
        <span> г</span>
      </div>
      <div class="div18">1500р</div>
      <div class="scitec-nutrition">Scitec Nutrition</div>
      <div class="creatine-300-container">
        <span>100% Creatine, </span>
        <span class="span1">300</span>
        <span> г</span>
      </div>
      <div class="div19">1999р</div>
      <img class="creatine1-1-icon" alt="" src="{%static 'pools/img/creatine1.png' %}" />

      <img class="creatine2-1-icon" alt="" src="{%static 'pools/img/creatine2.png' %}" />

      <img class="creatine3-1-icon" alt="" src="{%static 'pools/img/creatine3.png' %}" />

      <img class="creatine4-1-icon" alt="" src="{%static 'pools/img/creatine4.jpg' %}" />

      <div class="bombbar">Bombbar</div>
      <div class="nuts-20-container">
        <span>Nuts, </span>
        <span class="span1">20</span>
        <span> г</span>
      </div>
      <div class="div20">99р</div>
      <div class="bombbar1">Bombbar</div>
      <div class="protein-60-container">
        <span>Protein, </span>
        <span class="span1">60</span>
        <span> г</span>
      </div>
      <div class="div21">99р</div>
      <div class="bombbar2">Bombbar</div>
      <div class="protein-600-container">
        <span> Protein, </span>
        <span class="span13">600</span>
        <span> г</span>
      </div>
      <div class="div22">2499р</div>
      <div class="bombbar3">Bombbar</div>
      <div class="cofe-and-nuts-container">
        <span>Cofe and nuts, </span>
        <span class="span1">600</span>
        <span> г</span>
      </div>
      <div class="div23">2499р</div>
      <img class="bar-1-icon" alt="" src="{%static 'pools/img/bar.jpg' %}" />

      <img class="bar2-1-icon" alt="" src="{%static 'pools/img/bar2.jpg' %}" />

      <img class="bar3-1-icon" alt="" src="{%static 'pools/img/bar3.jpg' %}" />

      <img class="bar4-1-icon" alt="" src="{%static 'pools/img/bar4.jpg' %}" />

      <div class="whey-protein-2500-container">
        <span>Whey protein, </span>
        <span class="span1">2500</span>
        <span> г</span>
      </div>
    </div>
  </body>
</body>


{% endblock %}