{% extends "pools/template.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'pools/css/shops.css' %}">
  <body>
    <div class="desktop-1">
      <div class="parent">
        <div class="div">
          <span class="txt">
            <p class="p">
              <span>
                <span class="span">Режим работы:</span>
              </span>
            </p>
            <p class="p">
              <span>
                <span class="blank-line1">&nbsp;</span>
              </span>
            </p>
            <p class="p">
              <span>
                <span class="blank-line1">Ежедневно: </span>
              </span>
              <span class="blank-line1">
                <span class="span3">9:00-21:00</span>
              </span>
            </p>
          </span>
        </div>
        <div class="div1">
          <span>Заказы в </span>
          <span class="span4">интернет-магазине</span>
          <span> принимаем </span>
          <span class="span4">круглосуточно</span>
        </div>
        <div class="div2">
          <span>Наши консультанты готовы ответить на ваши вопросы </span>
          <span class="span4">ежедневно</span>
          <span> с</span>
          <span class="span7"> 9:00</span>
          <span> до </span>
          <span class="span4">21:00</span>
          <span>(МСК), звоните или пишите в чат</span>
        </div>
        <div class="div3">
          <span>Для звонков из регионов: </span>
          <span class="span4">8 977 346 91 10</span>
          <span> (бесплатно)</span>
        </div>
        <div class="div4">Наши магазины находятся по адресу:</div>
        <b class="b">г.Солнечногорск, мкр. Рекинцо д16 кв32</b>
        <b class="b1">г.Клин, ул. Советская д6</b>
        <b class="b2">г. Москва, м. Беляево (Подземный переход 1 ларёк)</b>
        <b class="b3">Продавец товара:</b>
        <b class="tuguchev">ООО “TUGUCHEV”</b>
        <b class="b4">Адрес: Солнечногорск, Рекинцо, д.16 офис 32 </b>
        <b class="b5">ИНН 9711453201 КПП 68535000 ОГРН 11167742833</b>
        <b class="skinny">
          <span
            >Мы будем рады получить предложения и учесть ваши пожелания по
            работе магазина
          </span>
          <span class="span4">SKINNYBOY</span>
          <span> ↓</span>
        </b>
        <img class="magazine1-1-icon" src="{%static 'pools/img/magazine1.jpg' %}"/>
      </div>
    </div>

  </body>


{% endblock %}